@model MVCIntro.Models.Account

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="FullName" class="control-label col-md-2">Full Name</label>
            @*@Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @* EditorFor:: بتشوف شو نوع الداتا جوا قاعدة البيانات تاعتك وبيراعي شو علي الكلاس القيود الموجودة عليه وممكن نغيرها اذا عارفين نوع الحقل  *@
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", autofocus = "true" } })
                @*@Html.TextBoxFor(model => model.FullName, new { AllowHtmlAttribute = new { class="form-control"} })*@
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })*@
                <div>
                    <label>@Html.RadioButton("Gender","M") Male</label>
                    <label>@Html.RadioButton("Gender","F") FeMale</label>
                                      @* نفس اللي فوقها  *@
                    @*<label>@Html.RadioButtonFor(x=>x.Gender,"M") Male</label>
                    <label>@Html.RadioButtonFor(x=>x.Gender,"F") FeMale</label>*@
                </div>
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, "CountryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CountryId", null,"Selectt Country Belong", htmlAttributes: new { @class = "form-control" })
                @*@Html.DropDownListFor(x=>x.CountryId,(SelectList)ViewBag.CountryId,"Selct your Country", htmlAttributes: new { @class="form-control"})*@
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
