@model IEnumerable<NewsCMD.Models.Menu>

@{
    ViewBag.Title = "  ‘عرض القوائم ";
    if (ViewBag.menuTitle != null)
    {
        ViewBag.Title += "  -  " + ViewBag.menuTitle;
    }
}

<div class="row">
    <div class="col-xs-6">
        @if (ViewBag.ParentId != 0)
        {

            <a class="btn btn-default" href="/CMD/Menu/Index"><i class="fa fa-backward"></i></a>

        }
    </div>

    <div class="col-xs-6">
        <a href="/CMD/Menu/Add/@ViewBag.ParentId" class="btn btn-success pull-right"><i class="fa fa-plus"></i>اضافة قائمة جديد</a>
    </div>
</div>
<br />

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                عنوان القائمة
            </th>
            <th>
                عنوان الرابط
            </th>
            <th>
                فعال
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.ParentId)
                </th>*@

            <th>
                التاريخ
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Active, new { @class = "chActive", value = item.Id , disabled=false})*@
                    <input class="chActive" value="@item.Id" type="checkbox" @(item.Active?"checked":"")/>
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.ParentId)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.InsertedAt)
                </td>

                <td>
                    @if (ViewBag.ParentId == 0)
                    {

                        <a title="عرض جميع القوائم " class="btn btn-info btn-xs" href="/CMD/Menu/Index/@item.Id"><i class="glyphicon glyphicon-list "></i></a>

                    }

                    <a class="btn btn-info btn-xs" href="/CMD/Menu/Edit/@item.Id"><i class="glyphicon glyphicon-edit "></i></a>


                    <a class="btn Confirm btn-xs btn-warning" href="/CMD/Menu/Delete/@item.Id"><i class="glyphicon glyphicon-remove "></i></a>

                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        @Resources.Labels.NoItems
    </div>
}

@section scripts{
<script>
    $(function () {
        $(".chActive").click(function () {
            var id = $(this).val();
            $.get("/CMD/Menu/Active/" + id);
        });
    });
</script>    
    

}
