@model MVCIntro.Areas.Bussines.Controllers.HomeController.Student
@{
    ViewBag.Title = "usingModle";
    var m = Model as MVCIntro.Areas.Bussines.Controllers.HomeController.Student;
}

<h2>usingModle</h2>
<p>Student Name:::  <b>@Model.StudentName</b></p>
<p>Student Age:::   <b>@Model.StudentAge</b></p>
<p>Student Class::: <b>@Model.ClassNumber</b></p>
<hr />
<h1>@m.StudentName</h1>
<h2>@m.ClassNumber</h2>


